{# Dime/TimetrackerFrontednBundle/Resources/views/Projects/form.html.twig #}
<section id="project-form">
    <header class="page-header">
        <h1>{% trans %}Add project{% endtrans %}</h1>
    </header>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-common" data-toggle="tab"><i class="icon-tasks"></i> {% trans %}
            Common{% endtrans %}</a></li>
        <li><a href="#tab-prices" data-toggle="tab"><b class="icon">$</b> {% trans %}Prices{% endtrans %}</a></li>
        <li><a href="#tab-dates" data-toggle="tab"><i class="icon-calendar"></i> {% trans %}Dates{% endtrans %}</a></li>
    </ul>
    <form class="form-horizontal tab-content" data-prefix="project-">
        <fieldset id="tab-common" class="tab-pane active">
            <div class="control-group">
                <label for="project-name" class="control-label">{% trans %}Name{% endtrans %}:</label>

                <div class="controls">
                    <input id="project-name" class="project-name input-block-level" type="text" value="">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <label for="project-alias" class="control-label">{% trans %}Alias{% endtrans %}:</label>

                <div class="controls">
                    <div class="input-append">
                        <input id="project-alias" class="project-alias" type="text" value="" maxlength="30">
                        <a type="button" class="slugify add-on btn" title="Create alias from name"><i class="icon-refresh"></i></a>
                    </div>
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <label for="project-description" class="control-label">{% trans %}Description{% endtrans %}:</label>

                <div class="controls">
                    <textarea id="project-description" class="project-description input-block-level"
                              rows="3"></textarea>
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <label for="project-customer" class="control-label">{% trans %}Customer{% endtrans %}:</label>

                <div class="controls">
                    <select id="project-customer" class="project-customer input-block-level">
                    </select>
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <label for="project-rate" class="control-label">{% trans %}Rate{% endtrans %}:</label>

                <div class="controls">
                    <input id="project-rate" class="project-rate input-block-level" type="number" value="">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <label for="project-tags" class="control-label">{% trans %}Tags{% endtrans %}:</label>

                <div class="controls">
                    <input type="text" id="project-tags" class="project-tags input-block-level"/>
                </div>
            </div>
        </fieldset>
        <fieldset id="tab-prices" class="tab-pane">
            <div class="control-group">
                <label for="project-budgetPrice" class="control-label">{% trans %}Budget price{% endtrans %}:</label>

                <div class="controls">
                    <input id="project-budgetPrice" class="project-budgetPrice input-block-level" type="number"
                           value="">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <label for="project-fixedPrice" class="control-label">{% trans %}Fixed price{% endtrans %}:</label>

                <div class="controls">
                    <input id="project-fixedPrice" class="project-fixedPrice input-block-level" type="number" value="">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <label for="project-budgetTime" class="control-label">{% trans %}Budget time{% endtrans %}:</label>

                <div class="controls">
                    <input id="project-budgetTime" class="project-budgetTime input-block-level" type="number" value="">
                    <span class="help-inline"></span>
                </div>
            </div>
        </fieldset>
        <fieldset id="tab-dates" class="tab-pane">
            <div class="control-group">
                <label for="project-startedAt" class="control-label">{% trans %}Started at{% endtrans %}:</label>

                <div class="controls">
                    <input id="project-startedAt" class="project-startedAt input-block-level" type="date" value=""
                           data-toggle="datepicker" data-date-format="YYYY-MM-DD" data-data-weekstart="1">
                    <span class="help-inline"></span>
                </div>
            </div>
            </div>
            <div class="control-group">
                <label for="project-stoppedAt" class="control-label">{% trans %}Stopped at{% endtrans %}:</label>

                <div class="controls">
                    <input id="project-stoppedAt" class="project-stoppedAt input-block-level" type="date" value=""
                           data-toggle="datepicker" data-date-format="YYYY-MM-DD" data-data-weekstart="1">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <label for="project-deadline" class="control-label">{% trans %}Deadline{% endtrans %}:</label>

                <div class="controls">
                    <input id="project-deadline" class="project-deadline input-block-level" type="date" value=""
                           data-toggle="datepicker" data-date-format="YYYY-MM-DD" data-data-weekstart="1">
                    <span class="help-inline"></span>
                </div>
            </div>
        </fieldset>
    </form>
    <footer class="form-actions">
        <div class="pull-right">
            <button class="cancel btn">{% trans %}Cancel{% endtrans %}</button>
            <button class="save btn btn-primary">{% trans %}Save{% endtrans %}</button>
        </div>
    </footer>
</section>
