{# Dime/TimetrackerFrontednBundle/Resources/views/Projects/index.html.twig #}
<header class="page-header">
  <div class="pull-right">
    <button id="filter-button" class="btn btn-large" title="Show filter"><i class="icon-filter hide-text">Show filter</i></button>
    <a href="#project/add" class="btn btn-large" title="Add project"><i class="icon-plus hide-text">Add project</i></a>
  </div>
  <h1>Project</h1>
</header>

<form id="filter" class="form-horizontal well well-small">
    <fieldset>
        <div class="control-group">
            <label for="filter-customer" class="control-label"><i class="icon-user"></i> {% trans %}Customer{% endtrans %}</label>
            <div class="controls">
                <select id="filter-customer" class="filter filter-customer input-block-level" title="{% trans %}by customer{% endtrans %}">
                    <option>{% trans %}by customer{% endtrans %}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label for="filter-search" class="control-label"><i class="icon-search"></i> {% trans %}Search{% endtrans %}</label>
            <div class="controls">
                <input id="filter-search" class="filter filter-search input-block-level" title="Search" placeholder="Search...">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="pull-right">
            <button id="filter-reset" class="btn">{% trans %}Reset{% endtrans %}</button>
        </div>
    </fieldset>
</form>

<div id="projects" class="loading"></div>
<div class="pagination t-center"></div>

<script type="text/template" id="tpl-project-empty">
    <div class="alert alert-info"><strong>Your list is empty!</strong> Project your life?</div>
</script>

<script type="text/template" id="tpl-project-item">
    <h3 class="title">
        <div class="btn-group pull-right">
            <a class="btn edit" href="#project/<%- data.id %>/edit" title="Edit"><i class="icon-pencil hide-text">Edit</i></a>
            <a class="btn delete" href="#project/<%- data.id %>/delete" title="Delete"><i class="icon-remove hide-text">Delete</i></a>
        </div>
        <%- data.name %>
        <span class="label">/<%- data.alias %></span>
        <% if (data.tags) { _.each(data.tags, function (tag) { %>
            <span class="badge badge-infos">#<%- tag.name %></span>
        <% })} %>
    </h3>
    <div class="box-details">
        <div class="row-fluid">
            <dl class="span4 dl-horizontal">
                <% if (data.customer) { %>
                <dt>Customer</dt>
                <dd><%- data.customer.name %></dd>
                <% } %>
                <% if (data.rate) { %>
                <dt>Rate</dt>
                <dd><%- data.rate %></dd>
                <% } %>
            </dl>
            <dl class="span4 dl-horizontal">
                <dt>Budget</dt>
                <% if (data.budgetPrice) { %>
                <dd>Price: <%- data.budgetPrice %></dd>
                <% } %>
                <% if (data.fixedPrice) { %>
                <dd>Fixed: <%- data.fixedPrice %></dd>
                <% } %>
                <% if (data.budgetTime) { %>
                <dd>Time: <%- data.budgetTime %></dd>
                <% } %>
            </dl>
            <dl class="span4 dl-horizontal">
                <dt>Dates</dt>
                <% if (data.startedAt) { %>
                <dd>Start: <%- data.startedAt %></dd>
                <% } %>
                <% if (data.stoppedAt) { %>
                <dd>Stop: <%- data.stoppedAt %></dd>
                <% } %>
                <% if (data.deadline) { %>
                <dd>Deadline: <%- data.deadline %></dd>
                <% } %>
            </dl>
        </div>
        <div class="row-fluid">
        <% if (data.description)  { %>
        <p class="span12"><%- data.description %></p>
        <% } %>
        </div>
    </div>
</script>
