{# Dime/TimetrackerFrontednBundle/Resources/views/Projects/index.html.twig #}
<header class="page-header">
  <div class="pull-right">
    <button class="filter-button btn btn-large" title="Show filter"><i class="icon-filter hide-text">Show filter</i></button>
    <a href="#project/add" class="btn btn-large" title="Add project"><i class="icon-plus hide-text">Add project</i></a>
  </div>
  <h1>Project</h1>
</header>

<form id="project-filter" class="form-horizontal well well-small">
    <fieldset>
        <div class="control-group">
            <label for="filter-customer" class="control-label"><i class="icon-user"></i> {% trans %}Customer{% endtrans %}</label>
            <div class="controls">
                <select id="filter-customer" class="filter filter-customer input-block-level" title="{% trans %}by customer{% endtrans %}">
                    <option>{% trans %}by customer{% endtrans %}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label for="filter-search" class="control-label"><i class="icon-search"></i> {% trans %}Search{% endtrans %}</label>
            <div class="controls">
                <input id="filter-search" class="filter filter-search input-block-level" title="Search" placeholder="Search...">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <button type="button" class="filter-reset btn">{% trans %}Reset{% endtrans %}</button>
        <div class="pull-right">
            <button type="button" class="filter-toggle btn" title="{% trans %}Close{% endtrans %}"><i class="icon-chevron-up"></i></button>
        </div>
    </fieldset>
</form>

<div id="projects" class="loading"></div>
<div class="pagination t-center"></div>

<script type="text/template" id="tpl-project-empty">
    <div class="alert alert-info"><strong>Your list is empty!</strong> Project your life?</div>
</script>

<script type="text/template" id="tpl-project-header">
    <h2 class="nav-header"><%-title %></h2>
</script>

<script type="text/template" id="tpl-project-item">
    <div class="box-title">
        <div class="btn-group pull-right">
            <a class="btn edit" href="#project/<%- model.id %>/edit" title="Edit"><i class="icon-pencil hide-text">Edit</i></a>
            <a class="btn delete" href="#project/<%- model.id %>/delete" title="Delete"><i class="icon-remove hide-text">Delete</i></a>
        </div>
        <span class="editable editable-input" contenteditable="true" data-editor-model-key="name"><%- model.get('name') %></span>
        <span class="label label-project editable editable-input" contenteditable="true" data-editor-model-key="alias"><%- model.get('alias') %></span>
        <% if (model.hasRelation('tags')) { model.getRelation('tags').each(function (tag) { %>
        <span class="badge badge-info" contenteditable="false">#<%- tag.get('name') %></span>
        <% })} %>
    </div>
    <div class="box-details">
        <div class="row-fluid">
            <dl class="span4 dl-horizontal">
                <dt>Customer</dt>
                <dd><%- model.get('customer.name', '') %></dd>
                <dt>Rate</dt>
                <dd><%- model.get('rate', '') %></dd>
            </dl>
            <dl class="span4 dl-horizontal">
                <dt>Budget</dt>
                <dd>Price: <%- model.get('budgetPrice', '') %></dd>
                <dd>Fixed: <%- model.get('fixedPrice', '') %></dd>
                <dd>Time: <%- model.get('budgetTime', '') %></dd>
            </dl>
            <dl class="span4 dl-horizontal">
                <dt>Dates</dt>
                <dd>Start: <%- model.get('startedAt', '') %></dd>
                <dd>Stop: <%- model.get('stoppedAt', '') %></dd>
                <dd>Deadline: <%- model.get('deadline', '') %></dd>
            </dl>
        </div>
        <% if (model.get('description'))  { %>
        <div class="row-fluid">
        <p class="span12"><%- model.get('description') %></p>
        </div>
        <% } %>
    </div>
</script>
