{# Dime/TimetrackerFrontednBundle/Resources/views/App/help.html.twig #}
<header>
  <h1>FAQ</h1>
</header>

<h2>How to use the magic one line input?</h2>
<p>The magic one line input can help you to track your activities fast.</p>
<code>10:00 - 12:00 @cc /cwe2011 :testing Do something useful.</code>
<dl>
  <dt>Dates:</dt>
  <dd>Not supported yet.</dd>
  <dt>Time range: 10:00 - 12:00</dt>
  <dd>Tracks the duration of two hours.</dd>
  <dt>@CUSTOMER-ALIAS</dt>
  <dd>The '@'-sign will track the activity to a certain customer.</dd>
  <dt>/PROJECT-ALIAS</dt>
  <dd>The '/'-sign will track the activity to a certain project.</dd>
  <dt>:SERVICE-ALIAS</dt>
  <dd>The ':'-sign will track the activity to a certain service.</dd>
  <dt>Text</dt>
  <dd>Every text that will not parse will be the description. The Parser will match only once!</dd>
</dl>

<h2>What possibilities do I have to track a duration?</h2>
<dl>
  <dt>10:00-12:00</dt>
  <dd>Tracks a duration of two hours.</dd>
  <dt>10-12</dt>
  <dd>Tracks a duration of two hours.</dd>
  <dt>10-</dt>
  <dd>Tracks a duration form 10 o'clock until now.</dd>
  <dt>-12</dt>
  <dd>Tracks a duration form now until 12 o'clock.</dd>
  <dt>2:30h</dt>
  <dd>Tracks a duration of two and a half hour.</dd>
  <dt>2:30m</dt>
  <dd>Tracks a duration of two and a half minute.</dd>
  <dt>2h 30m</dt>
  <dd>Tracks a duration of two and a half hour.</dd>
  <dt>2,5h or 2.5h</dt>
  <dd>Tracks a duration of two and a half hour.</dd>
  <dt>2,5m or 2.5m</dt>
  <dd>Tracks a duration of two and a half minute.</dd>
</dl>

<h2>Can I use the input to start a activity from now for a certain customer?</h2>
<code>@CUSTOMER-ALIAS :SERVICE-ALIAS Do something useful.</code>
<p>Yes, you can. This line will start the activity from now.</p>
