{% extends "DimeTimetrackerFrontendBundle::layout.html.twig" %}

{% block footer %}
<div>
  <h2>ToDo</h2>
  <p>
    <ul>
      <li>Edit Timeslice</li>
      <li>Filter Activities</li>
      <li>JS Form Validation</li>
    </ul>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="loading"></div>
{% endblock %}
