- extends "DimeTimetrackerFrontendBundle::layout.html.twig"

- block content
  .header(data-ng-controller='BaseCtrl')
    .row
      %nav.top-navi.top-bar(data-ng-controller='NavigationCtrl')
        %ul.title-area.small-3
          %li.name
            %h1
              %a(href="/") Dime
        %section.top-bar-section
          %ul.left
            %li.has-form
              .row
                .column
                  %input.magic(type='text' placeholder='log some work /project :service #tag')
          %ul.right
            %li(data-ng-repeat='item in navigationItems')
              %a(data-ng-bind='item')
            %li
              %a.logout(href="{{ path('fos_user_security_logout') }}" title="{% trans %}Logout{% endtrans %}") Logout

    .row.filter
      %ul.inline-list.current-conditions(data-ng-controller='TrackingCtrl')
        %li.condition(data-ng-repeat="condition in filters")
          %span.label(data-ng-bind="condition")
          %a(href='#' data-ng-click="removeFilterCondition(condition)") ×
        %li.condition.new
          %a(href='#' onclick="alert('To do: Open dropdown with filter options :)')") +
        %li.sumHours(data-ng-hide="settings.hideHourSum")
          &Sigma;
          .value(data-ng-bind="sum.hours")
          h
        %li.sumIncome(data-ng-hide="settings.hideIncomeSum")
          &Sigma;
          .value(data-ng-bind="sum.income")
          €
    .row.main
      - block main
- endblock
