{% extends "DimeTimetrackerFrontendBundle::layout.html.twig" %}

{% block footer %}
<div>
  <h2>ToDo</h2>
  <p>
    <ul>
      <li>Authentication</li>
      <li>Pagination for list views</li>
      <li>Filter Activities
        <ul>
          <li>Date</li>
          <li>Customer</li>
          <li>Project</li>
          <li>Service</li>
          <li>later by Tagging</li>
        </ul>
      </li>
    </ul>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="loading"></div>
{% endblock %}
