{# Dime/TimetrackerFrontednBundle/Resources/views/Services/index.html.twig #}
<form id="service-form" class="form-horizontal" data-prefix="service-">
  <header>
    <h1 class="title">Service</h1>
  </header>
  <fieldset>
    <div class="control-group">
      <label for="service-name" class="control-label">Name:</label>
      <div class="controls">
        <input id="service-name" class="service-name input-full" type="text" value="" >
      </div>
    </div>
    <div class="control-group">
      <label for="service-alias" class="control-label">Alias:</label>
      <div class="controls">
        <input id="service-alias" class="service-alias input-full" type="text" value="" >
      </div>
    </div>
    <div class="control-group">
      <label for="service-rate" class="control-label">Rate:</label>
      <div class="controls">
        <input id="service-rate" class="service-rate input-full" type="text" value="" >
      </div>
    </div>
    <div class="control-group">
      <label for="service-description" class="control-label">Description:</label>
      <div class="controls">
        <textarea id="service-description" class="service-description input-full" rows="3"></textarea>
      </div>
    </div>
  </fieldset>
  <div class="form-actions">
    <div class="pull-right">
      <button class="cancel btn">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>