{# Dime/TimetrackerFrontednBundle/Resources/views/Services/index.html.twig #}

<header class="page-header">
    <div class="pull-right">
        <button id="filter-button" class="btn btn-large" title="Show filter"><i class="icon-filter hide-text">Show
            filter</i></button>
        <a href="#service/add" class="btn btn-large" title="Add service"><i class="icon-plus hide-text">Add service</i></a>
    </div>
    <h1>Service</h1>
</header>

<form id="filter" class="form-horizontal well well-small">
    <fieldset>
        <div class="control-group">
            <label for="filter-search" class="control-label"><i class="icon-search"></i> {% trans %}Search{% endtrans %}</label>
            <div class="controls">
                <input id="filter-search" class="filter filter-search input-block-level" title="Search" placeholder="{% trans %}Search{% endtrans %}...">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="pull-right">
            <button id="filter-reset" class="btn">{% trans %}Reset{% endtrans %}</button>
        </div>
    </fieldset>
</form>

<div id="services" class="loading"></div>
<div class="pagination t-center"></div>

<script type="text/template" id="tpl-service-empty">
    <div class="alert alert-info"><strong>Your list is empty!</strong> Master, how may I serve you?</div>
</script>

<script type="text/template" id="tpl-service-item">
    <h3 class="title">
        <div class="btn-group pull-right">
            <a class="btn edit" href="#service/<%- data.id %>/edit" title="Edit"><i
                    class="icon-pencil hide-text">Edit</i></a>
            <a class="btn delete" href="#service/<%- data.id %>/delete" title="Delete"><i class="icon-remove hide-text">Delete</i></a>
        </div>
        <%- data.name %>
        <span class="label">:<%- data.alias %></span>
        <% if (data.tags) { _.each(data.tags, function (tag) { %>
            <span class="badge badge-info">#<%- tag.name %></span>
        <% })} %>
    </h3>
    <div class="box-details">
        <dl class="dl-horizontal">
            <dt>Rate</dt>
            <dd><%- data.rate %></dd>
            <% if (data.description) { %>
            <dt>Description</dt>
            <dd><%- data.description %></dd>
            <% } %>
        </dl>
    </div>
</script>
