{# Dime/TimetrackerFrontednBundle/Resources/views/Services/index.html.twig #}

<header class="page-header">
    <div class="pull-right">
        <button id="filter-button" class="btn btn-large" title="Show filter"><i class="icon-filter hide-text">Show
            filter</i></button>
        <a href="#service/add" class="btn btn-large" title="Add service"><i class="icon-plus hide-text">Add service</i></a>
    </div>
    <h1>Service</h1>
</header>

<ul id="filter" class="nav nav-list hide">
    <li class="nav-header">Filter</li>
    <li>
        <i class="icon-search hide-text">Search</i>
        <input id="filter-search" class="filter filter-search input-medium" title="Search" placeholder="Search...">
    </li>
    <li>
        <button id="filter-reset" class="btn">Reset</button>
    </li>
</ul>

<div id="services" class="loading" colspan="4"></div>

<script type="text/template" id="tpl-service-item">
    <h3 class="title">
        <div class="btn-group pull-right">
            <a class="btn edit" href="#service/<%- data.id %>/edit" title="Edit"><i
                    class="icon-pencil hide-text">Edit</i></a>
            <a class="btn delete" href="#service/<%- data.id %>/delete" title="Delete"><i class="icon-remove hide-text">Delete</i></a>
        </div>
        <%- data.name %>
        <span class="alias">:<%- data.alias %></span>
    </h3>
    <div class="details">
        <dl class="dl-horizontal">
            <dt>Rate</dt>
            <dd><%- data.rate %></dd>
            <% if (data.description) { %>
            <dt>Description</dt>
            <dd><%- data.description %></dd>
            <% } %>
        </dl>
    </div>
</script>
