{% extends "DimeTimetrackerFrontendBundle::layout.html.twig" %}

{% block footer %}
<div>
  <h2>ToDo</h2>
  <p>
    <ul>
      <li>Edit Activity</li>
      <li>Delete Activity</li>
    </ul>
  </p>
</div>
{% endblock %}

{% block content %}

<div id="activities" class="loading"></div>

<script type="text/template" id="tpl-activity-item">
  <h3 class="title">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <% if (model.runningTimeslice()) { %>
        <button class="track stop btn btn-danger"><i class="icon-time icon-white"></i></button>
        <% } else { %>
        <button class="track start btn btn-success"><i class="icon-time icon-white"></i></button>
        <% } %>
        <button data-duration="<%- data.duration %>" class="duration btn disabled" disabled><%- model.formatDuration(data.duration) %></button>
      </div>
    </div>
    <%- data.description %>
  </h3>
  <div class="details">
    <div class="pull-right">
      <a class="edit" href="#"><i class="icon-pencil"></i> Edit</a>
      <a class="delete" href="#"><i class="icon-remove"></i> Delete</a>
    </div>
    <p>
    <% var customerName  = model.relation('customer', 'name', ''); %>
    <% var customerAlias = model.relation('customer', 'alias', ''); %>
    <% if (customerAlias.length > 0 && customerName.length > 0) { %>
    <a href="#" class="client-project" title="@<%- customerAlias %>"><%- customerName %></a>
    <% } %>
    <% if (model.relation('project')) { %>
    / <a href="#"><%- model.relation('project', 'name') %></a>
    <% } %>
    </p>
  </div>
</script>
{% endblock %}

{% block js %}
<script type="text/javascript">
(function ($, App) {
    var dashboard = new App.Views.Dashboard();
    dashboard.render();
})(jQuery, Dime);
</script>
{% endblock %}
