- extends "DimeTimetrackerFrontendBundle::App/index.html.haml"

- block title
    Your Activities

- block bodyclass
    app tracking

- block main
    #tracking(data-ng-controller="TrackingCtrl")
        #addActivity
            #addIcon(data-ng-click="showCreateActivityForm=!showCreateActivityForm" data-ng-submit="submitForm") +
            %form.createActivity(data-ng-show="showCreateActivityForm" data-ng-controller="CreateActivityCtrl")
                %input.customer(type="text" placeholder="@customer" title="@customer" data-ng-model="customer")
                %input.project(type="text" placeholder="/project" title="/project" data-ng-model="project")
                %input.service(type="text" placeholder=":service" title=":service" data-ng-model="service")
                %input.duration(type="text" placeholder="00h 00m" title="00h 00m" data-ng-model="duration")
                %button.submitForm(data-ng-click="submitForm")
                %input.description(type="text" placeholder="@description" title="@description" data-ng-model="description")
                %input.tags(type="text" placeholder="#tags" title="#tags" data-ng-model="tags")
        %ul.tracking(data-ng-show="activities")
            %li(data-ng-repeat="activity in activities | filter:applyFilter" data-ng-controller="ActivityCtrl")
                .pull-right.duration.sum(data-ng-click="toggleRunning()" data-ng-class="{ running: isRunning() }")
                    %i.action.icon-play(data-ng-show="!isRunning()")
                    %i.action.icon-stop(data-ng-show="isRunning()")
                    .pull-right {{ activity.timeslices | sumDuration }}
                %h4 {{activity.description}}
                %span.tags
                .relations
                    .row
                        .span2.relation(data-ng-click="showCustomerList = !showCustomerList")
                            .icon-user
                            %span(title='Click to change') {{activity.customer.name}}
                            %ul(data-ng-class='{"active": showCustomerList}')
                                %li
                                    %a(data-ng-click='activity.customer=null')
                                        | Kein Kunde
                                %li(data-ng-repeat='customer in customers' data-ng-model='activity.customer')
                                    %a(data-ng-click='activity.customer=customer')
                                        {{customer.name}}
                        .span2.relation(data-ng-click="showProjectList = !showProjectList")
                            .icon-folder-open
                            %span(title='Click to change') {{activity.project.name}}
                            %ul(data-ng-class='{"active": showProjectList}')
                                %li
                                    %a(data-ng-click='activity.project=null')
                                        | Alle Projekte
                                %li(data-ng-repeat='project in projects' data-ng-model='activity.project')
                                    %a(data-ng-click='activity.project=project')
                                        {{project.name}}
                        .span2.relation(data-ng-click="showServiceList = !showServiceList")
                            .icon-cog
                            %span(title='Click to change') {{activity.service.name}}
                            %ul(data-ng-class='{"active": showServiceList}')
                                %li
                                    %a(data-ng-click='activity.service=null')
                                        | Alle Services
                                %li(data-ng-repeat='service in services' data-ng-model='activity.service')
                                    %a(data-ng-click='activity.service=service')
                                        {{service.name}}
                %ul.timeslices
                    %li(data-ng-repeat="timeslice in activity.timeslices")
                        .span1.duration
                            | {{ timeslice.duration | formatHours }} h
                        .span5.date
                            | ({{timeslice.started_at | date:'medium' }}
                            |  - {{timeslice.stopped_at | date:'medium' }})
                        .span1
                            i.icon-remove(data-ng-click="timeslice.del")
