{% extends "DimeTimetrackerFrontendBundle::layout.html.twig" %}

{% block header %}
<form class="well form-search">
  <input class="input-full" type="text">
  <a class="btn btn-primary">Track</a>
</form>
{% endblock %}

{% block content %}


<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Customer: Project</th>
            <th>Comment</th>
            <th>Duration</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="activities" class="loading">
    </tbody>
</table>

<script type="text/template" id="tpl-activity-item">
  <% var customerName  = (model.relation('customer')) ? model.relation('customer').get('name')  : '' %>
  <% var customerAlias = (model.relation('customer')) ? model.relation('customer').get('alias') : '' %>
  <td>
      <% if (customerAlias.length > 0 && customerName.length > 0) { %>
      <a href="#" class="client-project" data-placement="below" rel="twipsy" title="<%- customerName %>">
        <%- customerAlias %>
      </a>
      <% } %>
      <% if (model.relation('project')) { %>
      <a href="#"><%- model.relation('project').get('name') %></a>
      <% } %>
  </td>
  <td><%- data.description %></td>
  <% if (model.runningTimeslice()) { %>
  <td class="duration" data-duration="<%- data.duration %>">(running)</td>
  <td><button class="track stop btn btn-danger span2">Stop</button></td>
  <% } else { %>
  <td class="duration" data-duration="<%- data.duration %>"><%- model.formatDuration(data.duration) %></td>
  <td><button class="track start btn btn-success span2">Continue</button></td>
  <% } %>
</script>

<div id="edit-modal" class="modal hide fade" style="display: none; ">
    <div class="modal-header">
        <a href="#" class="close">×</a>
        <h3>Edit time slip …</h3>
    </div>
    <div class="modal-body">
        <p>Description goes here…</p>
    </div>
    <form>
        <fieldset class="well">
            <div class="clearfix" style="margin-bottom: 0">
                <div class="input"  style="margin: 0 20px 0 10px">
                    <input class="xlarge span7" id="xlInput" name="xlInput" size="80" type="text" style="font-size: 24px;height: 32px" placeholder="">
                    <span class="btn large primary" style="padding: 11px; position: relative; top: -3px">Track</span>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="modal-footer">
        <a href="#" class="btn primary">Save</a>
        <a href="#" class="btn secondary">Cancel</a>
    </div>
</div>
{% endblock %}    

{% block js %}
<script type="text/javascript">
  (function ($, App) {
    var activities = new App.Collection.Activities();
    new App.Views.Activity.List({collection: activities, itemTagName: "tr"}).render();
    activities.fetch();
  })(jQuery, Dime);
</script>
{% endblock %}
