{# Dime/TimetrackerFrontednBundle/Resources/views/Customers/index.html.twig #}
<header>
  <div class="pull-right">
    <a href="#customer/add" class="btn btn-large" title="Add customer"><i class="icon-plus"></i></a>
  </div>
  <h1>Customer</h1>
</header>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Alias</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="customers">
    <tr>
      <td class="loading" colspan="3"></td>
    </tr>
  </tbody>
</table>

<script type="text/template" id="tpl-customer-item">
<td><%- data.name %></td>
<td><%- data.alias %></td>
<td>
  <a class="edit" href="#customer/<%- data.id %>/edit"><i class="icon-pencil"></i> Edit</a>
  <a class="delete" href="#customer/<%- data.id %>/delete"><i class="icon-remove"></i> Delete</a>
</td>
</script>