{# Dime/TimetrackerFrontednBundle/Resources/views/Customers/index.html.twig #}
<header class="page-header">
  <div class="pull-right">
      <button id="filter-button" class="btn btn-large" title="Show filter"><i class="icon-filter hide-text">Show
          filter</i></button>
    <a href="#customer/add" class="btn btn-large" title="Add customer"><i class="icon-plus hide-text">Add customer</i></a>
  </div>
  <h1>Customer</h1>
</header>

<form id="filter" class="form-horizontal well well-small">
    <fieldset>
        <div class="control-group">
            <label for="filter-search" class="control-label"><i class="icon-search"></i> {% trans %}Search{% endtrans %}</label>
            <div class="controls">
                <input id="filter-search" class="filter filter-search input-block-level" title="Search" placeholder="{% trans %}Search{% endtrans %}...">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="pull-right">
            <button id="filter-reset" class="btn">{% trans %}Reset{% endtrans %}</button>
        </div>
    </fieldset>
</form>

<div id="customers" class="loading"></div>
<div class="pagination t-center"></div>

<script type="text/template" id="tpl-customer-item">
    <div class="box-title">
        <div class="btn-group pull-right">
            <a class="btn delete" href="#customer/<%- data.id %>/delete" title="Delete"><i class="icon-remove hide-text">Delete</i></a>
        </div>
        <span class="editable editable-input" contenteditable="true" data-editor-model-key="name"><%- data.name %></span>
        <% if (data.alias) { %><span class="label label-customer editable editable-input" contenteditable="true" data-editor-model-key="alias"><%- data.alias %></span><% } %>
        <% if (data.tags) { _.each(data.tags, function (tag) { %>
            <span class="badge badge-info">#<%- tag.name %></span>
        <% })} %>
    </div>
</script>

<script type="text/template" id="tpl-customer-empty">
    <div class="alert alert-info"><strong>Your list is empty!</strong> What are your customers?</div>
</script>
