body {
    background: url(/bundles/dimetimetrackerfrontend/images/background.jpg)
}

body.login .login-box {
    background: rgba(0, 0, 0, 0.50);
    border: 1px solid black;
    padding: 2em 2em 0 2em;
}
@media only screen and (min-width: 64.063em) {
    body.login #area-content {
        padding-top: 8em;
    }
    body.login .login-box {
        padding-top: 2em;
    }
}
body.login .login-box input[type="text"],
body.login .login-box input[type="password"] {
    background: #97d73d;
}
body.login .login-box label {
    color: #fff;
}
body.app .header {
    background: url(/bundles/dimetimetrackerfrontend/images/background.jpg);
    height: 4.4em;
    border-bottom: 1px inset #97d73d;
}
body.app {
    background: url(/bundles/dimetimetrackerfrontend/images/background_internal.png);
}
nav.top-navi {
    padding-top: 1.5em;
}
nav.top-navi,
nav.top-navi ul,
nav.top-navi .top-bar-section .has-form,
nav.top-navi .top-bar-section li:not(.has-form) a:not(.button) {
    background: none;
}
nav.top-navi .magic {
    background: #a8e049;
    border-radius: 5px;
    border: none;
    font-size: 0.8em;
    height: 2.0em;
    margin-top: -0.3em;
    padding: 0 1em;
    width: 20em;
}
nav.top-navi .magic::-webkit-input-placeholder { /* WebKit browsers */
    color: #363;
    font-style: italic;
}
nav.top-navi .magic:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #363;
    font-style: italic;
}
nav.top-navi .magic::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #363;
    font-style: italic;
}
nav.top-navi .magic:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #363;
    font-style: italic;
}
nav.top-navi ul li .logout {
    color: #C2E9A3;
    font-style: italic;
}
nav.top-navi .title-area {
    margin-left: -1em;
    margin-top: -0.4em;
}
nav.top-navi .title-area .name h1 a {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}
.page-header h1 {
    text-align: right;
    font-size: 1.5em;
    font-style: italic;
}
.page-header h1 img.logo {
    display:block;
    margin-bottom;
}

.filter {
    background: #5a9b29;
}
.filter .current-conditions,
.filter .summary {
    margin-bottom: 1em;
    margin-top: 1em;
}
.filter .current-conditions .no-condition,
.filter .current-conditions .condition,
.filter .summary .sum {
    background: #88c029;
    color: #363;
    display: inline;
    font-size: 0.9em;
    font-style: italic;
    padding: 0.3em;
}
.filter .current-conditions .condition,
.filter .summary .sum {
    color: #000;
    font-style: normal;
}
.filter .current-conditions ul {
    background: #88c029;
    margin-left: 0;
    margin-top: 0.4em;
    padding: 0 1em;
    position: fixed;
    z-index: 2;
}
.filter .current-conditions ul li {
    background: #88c029;
    display: block;
}

.button {
    background: #172010;
}
button:hover, button:focus, .button:hover, .button:focus {
    background-color: #1b3516;
}
@media only screen {
    footer {
        display: none;
    }
}
@media only screen and (min-width: 64.063em) {
    footer {
        display: block;
        bottom: 0;
        position: fixed;
        text-align: center;
        width: 100%;
    }
}
footer p {
    font-size: 80%;
}
