body {
    background: url(/bundles/dimetimetrackerfrontend/images/background.jpg)
}

body.login .login-box {
    background: rgba(0, 0, 0, 0.50);
    border: 1px solid black;
    padding: 2em 2em 0 2em;
}
@media only screen and (min-width: 64.063em) {
    body.login #area-content {
        padding-top: 8em;
    }
    body.login .login-box {
        padding-top: 2em;
    }
}
body.login .login-box input[type="text"],
body.login .login-box input[type="password"] {
    background: #97d73d;
}
body.login .login-box label {
    color: #fff;
}
body.app .header {
    background: url(/bundles/dimetimetrackerfrontend/images/background.jpg);
    height: 4.5em;
    border-bottom: 1px inset #97d73d;
}
body.app {
    background: rgba(1, 8, 32, 0.9);
}
.page-header h1 {
    text-align: right;
    font-size: 1.5em;
    font-style: italic;
}
.page-header h1 img.logo {
    display:block;
    margin-bottom;
}
.button {
    background: #172010;
}
button:hover, button:focus, .button:hover, .button:focus {
    background-color: #1b3516;
}
@media only screen {
    footer {
        display: none;
    }
}
@media only screen and (min-width: 64.063em) {
    footer {
        display: block;
        bottom: 0;
        position: fixed;
        text-align: center;
        width: 100%;
    }
}
footer p {
    font-size: 80%;
}
