#tracking {
    margin-top: 5em;
}
#tracking #addIcon {
    background-color: #97D73D;
    color: #000000;
    cursor: pointer;
    font-size: 2em;
    height: 1.3em;
    text-align: center;
    width: 100%;
}
@media only screen and (min-width: 40.063em) {
    #tracking #addIcon {
        left: 0;
        position: absolute;
        width: 1.6em;
    }
}

#tracking form.createActivity {
    height: 8em;
}
#tracking .createActivity button,
#tracking .createActivity input {
    background: #5b6168;
    border: none;
    color: #FFFFFF;
    float: left;
    height: 3em;
    margin-right: 1em;
}
#tracking .createActivity button {
    height: 2.6em;
}
#tracking .createActivity input::-webkit-input-placeholder { /* WebKit browsers */
    color: #ffffff;
    font-style: italic;
}
#tracking .createActivity input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
    font-style: italic;
}
#tracking .createActivity input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ffffff;
    font-style: italic;
}
#tracking .createActivity input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ffffff;
    font-style: italic;
}

#tracking .createActivity input.tags::-webkit-input-placeholder { /* WebKit browsers */
    color: #97D73D;
    font-style: italic;
}
#tracking .createActivity input.tags:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #97D73D;
    font-style: italic;
}
#tracking .createActivity input.tags::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #97D73D;
    font-style: italic;
}
#tracking .createActivity input.tags:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #97D73D;
    font-style: italic;
}

#tracking .createActivity input.customer,
#tracking .createActivity input.project,
#tracking .createActivity input.service {
    width: 12em;
}
#tracking .createActivity input.duration {
    width: 10em;
}
#tracking .createActivity input.submitForm {
    width: 5em;
}
#tracking .createActivity input.description {
    width: 40em;
}
#tracking .createActivity input.tags {
    color: #97D73D;
    margin-right: 0;
    width: 30em;
}
#tracking ul.activities > li {
    background: rgba(0, 0, 50, 0.5);
    list-style: none;
    margin-left: -1.2em;
    margin-bottom: 1em;
}
#tracking ul.activities .timeslices .table-head .column .column {
    background: rgba(200, 200, 220, 0.5);
    padding: 2px 0;
}
