{# Dime/TimetrackerFrontednBundle/Resources/views/Settings/index.html.twig #}

<header class="page-header">
    <div class="pull-right">
        <button class="filter-button btn btn-large" title="{% trans %}Show filter{% endtrans %}"><i class="icon-filter hide-text">{% trans %}Show filter{% endtrans %}</i></button>
        <a href="#setting/add" class="btn btn-large" title="{% trans %}Add setting{% endtrans %}"><i class="icon-plus hide-text">{% trans %}Add Setting{% endtrans %}</i></a>
    </div>
    <h1>{% trans %}Settings{% endtrans %}</h1>
</header>

<form id="setting-filter" class="form-horizontal well well-small">
    <fieldset>
        <div class="control-group">
            <label for="filter-namespace" class="control-label"><i class="icon-inbox"></i> {% trans %}Namespace{% endtrans %}</label>
            <div class="controls">
                <select id="filter-namespace" class="filter filter-namespace input-block-level" title="{% trans %}by namespace{% endtrans %}">
                    <option>{% trans %}by namespace{% endtrans %}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label for="filter-search" class="control-label"><i class="icon-search"></i> {% trans %}Search{% endtrans %}</label>
            <div class="controls">
                <input id="filter-search" class="filter filter-search input-block-level" title="Search" placeholder="{% trans %}Search{% endtrans %}...">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <button type="button" class="filter-reset btn">{% trans %}Reset{% endtrans %}</button>
        <div class="pull-right">
            <button type="button" class="filter-toggle btn" title="{% trans %}Close{% endtrans %}"><i class="icon-chevron-up"></i></button>
        </div>
    </fieldset>
</form>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{% trans %}Namespace{% endtrans %}</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Value{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tfoot>
    <tr>
        <td class="pagination t-center" colspan="4"></td>
    </tr>
    </tfoot>
    <tbody id="settings">
        <tr>
            <td colspan="4" class="loading"></td>
        </tr>
    </tbody>
</table>

<script type="text/template" id="tpl-setting-empty">
    <div class="alert alert-info"><strong>{% trans %}Your list is empty!{% endtrans %}</strong> {% trans %}Master, how may I serve you?{% endtrans %}</div>
</script>

<script type="text/template" id="tpl-setting-item">
    <td><%- data.namespace %></td>
    <td><%- data.name %></td>
    <td><%- data.value %></td>
    <td>
        <a class="btn edit" href="#setting/<%- data.id %>/edit" title="{% trans %}Edit{% endtrans %}"><i class="icon-pencil hide-text">{% trans %}Edit{% endtrans %}</i></a>
        <a class="btn delete" href="#setting/<%- data.id %>/delete" title="{% trans %}Delete{% endtrans %}"><i class="icon-remove hide-text">{% trans %}Delete{% endtrans %}</i></a>
    </td>
</script>
