{# Dime/TimetrackerFrontednBundle/Resources/views/Activities/activityForm.html.twig #}
<div id="activity-form" class="modal hide" data-prefix="activity-">
    <div class="modal-header">
        <a href="#" class="close">×</a>
        <h3 class="title">Add activity</h3>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#common" data-toggle="tab">Common</a></li>
            <li><a href="#prices" data-toggle="tab">Prices</a></li>
            <li><a href="#timeslice" data-toggle="tab">Timeslice</a></li>
        </ul>
        <form class="form-horizontal tab-content">
            <fieldset id="common" class="tab-pane active">
                <div class="control-group">
                    <label for="activity-customer" class="control-label">Customer:</label>
                    <div class="controls">
                        <select id="activity-customer" class="activity-customer input-xlarge">
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label for="activity-project" class="control-label">Project:</label>
                    <div class="controls">
                        <select id="activity-project" class="activity-project input-xlarge">
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label for="activity-service" class="control-label">Service:</label>
                    <div class="controls">
                        <select id="activity-service" class="activity-service input-xlarge">
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label for="activity-description" class="control-label">Description:</label>
                    <div class="controls">
                        <textarea id="activity-description" class="activity-description input-xlarge" rows="3"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset class="tab-pane" id="prices">
                <div class="control-group">
                    <label for="activity-rate" class="control-label">Rate:</label>
                    <div class="controls">
                        <input id="activity-rate" class="activity-rate input-xlarge" type="number" value="" >
                    </div>
                </div>
                <div class="control-group">
                    <label for="activity-rateReference" class="control-label">Rate reference:</label>
                    <div class="controls">
                        <input id="activity-rateReference" class="activity-rateReference input-xlarge" type="text" value="" >
                    </div>
                </div>
            </fieldset>
            <fieldset class="tab-pane" id="timeslice">
                <div class="control-group">
                    <label for="activity-startedAt" class="control-label">Started at:</label>
                    <div class="controls">
                        <input id="activity-startedAt" class="activity-startedAt input-xlarge" type="datetime" value="" >
                    </div>
                </div>
                <div class="control-group">
                    <label for="activity-stoppedAt" class="control-label">Stopped at:</label>
                    <div class="controls">
                        <input id="activity-stoppedAt" class="activity-stoppedAt input-xlarge" type="datetime" value="" >
                    </div>
                </div>
                <div class="control-group">
                    <label for="activity-duration" class="control-label">Duration:</label>
                    <div class="controls">
                        <input id="activity-duration" class="activity-duration input-xlarge" type="number" value="" >
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="save btn btn-primary span2">Save</button>
        <button class="cancel btn">Cancel</button>
    </div>
</div>