{# Dime/TimetrackerFrontednBundle/Resources/views/Activities/filter.html.twig #}

<form id="filter" class="form-horizontal well well-small">
    <fieldset>
        <div class="control-group">
            <label for="filter-period" class="control-label"><i class="icon-calendar"></i> Period</label>
            <div class="controls">
                <select id="filter-period" class="input-block-level">
                    <option value="">{% trans %}None{% endtrans %}</option>
                    <optgroup label="fixed">
                        <option value="this-month">{% trans %}This month{% endtrans %}</option>
                        <option value="this-week">{% trans %}This week{% endtrans %}</option>
                        <option value="today">{% trans %}Today{% endtrans %}</option>
                        <option value="last-month">{% trans %}Last month{% endtrans %}</option>
                        <option value="last-week">{% trans %}Last week{% endtrans %}</option>
                        <option value="yesterday">{% trans %}Yesterday{% endtrans %}</option>
                    </optgroup>
                    <optgroup label="variable">
                        <option value="D">{% trans %}Day{% endtrans %}</option>
                        <option value="W">{% trans %}Week{% endtrans %}</option>
                        <option value="M">{% trans %}Month{% endtrans %}</option>
                        <option value="Y">{% trans %}Year{% endtrans %}</option>
                        <option value="R">{% trans %}Range{% endtrans %}</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div id="filter-period-from-group" class="control-group hide">
            <label for="filter-period-from" class="control-label">From</label>
            <div class="controls">
                <input type="date" id="filter-period-from" class="filter-date input-block-level" name="filter-period-from" placeholder="YYYY-MM-DD" data-toggle="datepicker"
                       data-date="{{ 'now'|date('Y-m-d') }}"
                       data-date-format="YYYY-MM-DD" data-date-with-period="true" data-date-period="D"
                       data-date-weekstart="1"
                       data-date-autoclose="true">
            </div>
        </div>
        <div id="filter-period-to-group" class="control-group hide">
            <label for="filter-period-to" class="control-label">To</label>
            <div class="controls">
                <input type="date" id="filter-period-to" class="input-block-level" name="filter-period-to" placeholder="YYYY-MM-DD" data-toggle="datepicker"
                       data-date="{{ 'now'|date('Y-m-d') }}"
                       data-date-format="YYYY-MM-DD" data-date-with-period="true" data-date-period="D"
                       data-date-weekstart="1"
                       data-date-autoclose="true">
            </div>
        </div>
        <div class="control-group">
            <label for="filter-customer" class="control-label"><i class="icon-user"></i> {% trans %}Customer{% endtrans %}</label>
            <div class="controls">
                <select id="filter-customer" class="filter filter-customer input-block-level" title="{% trans %}by customer{% endtrans %}">
                    <option>{% trans %}by customer{% endtrans %}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label for="filter-project" class="control-label"><i class="icon-folder-open"></i> {% trans %}Project{% endtrans %}</label>
            <div class="controls">
                <select id="filter-project" class="filter filter-project input-block-level" title="{% trans %}by project{% endtrans %}">
                    <option>{% trans %}by project{% endtrans %}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label for="filter-service" class="control-label"><i class="icon-wrench"></i> {% trans %}Service{% endtrans %}</label>
            <div class="controls">
                <select id="filter-service" class="filter filter-service input-block-level" title="{% trans %}by service{% endtrans %}">
                    <option>{% trans %}by service{% endtrans %}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label for="filter-with-tags" class="control-label"><i class="icon-tags"></i> {% trans %}Tags{% endtrans %}</label>
            <div class="controls">
                <select id="filter-with-tags" class="filter filter-with-tags input-block-level" title="{% trans %}with tags{% endtrans %}">
                    <option>{% trans %}with tag{% endtrans %}</option>
                </select>
                <select id="filter-without-tags" class="filter filter-tags filter-without-tags input-block-level" title="{% trans %}without tags{% endtrans %}">
                    <option>{% trans %}without tag{% endtrans %}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label for="filter-search" class="control-label"><i class="icon-search"></i> {% trans %}Search{% endtrans %}</label>
            <div class="controls">
                <input id="filter-search" class="filter filter-search input-block-level" title="{% trans %}Search{% endtrans %}" placeholder="{% trans %}Search...{% endtrans %}">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="pull-right">
            <button id="filter-save" class="btn" title="{% trans %}save as default{% endtrans %}">{% trans %}Save as default{% endtrans %}</button>
            <button id="filter-reset" class="btn">{% trans %}Reset{% endtrans %}</button>
        </div>
    </fieldset>
</form>
