{# Dime/TimetrackerFrontednBundle/Resources/views/Activities/edit.html.twig #}
<div id="activity-form" data-prefix="activity-">
  <header>
    <h1 class="title">Activity</h1>
  </header>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab-common" data-toggle="tab">Common</a></li>
    <li><a href="#tab-prices" data-toggle="tab">Prices</a></li>
    <li><a href="#tab-timeslices" data-toggle="tab">Timeslices</a></li>
  </ul>
  <form class="form-horizontal tab-content">
    <fieldset id="tab-common" class="tab-pane active">
      <div class="control-group">
        <label for="activity-description" class="control-label">Description:</label>
        <div class="controls">
          <textarea id="activity-description" class="activity-description input-full" rows="3"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label for="activity-customer" class="control-label">Customer:</label>
        <div class="controls">
          <select id="activity-customer" class="activity-customer input-full">
          </select>
        </div>
      </div>
      <div class="control-group">
        <label for="activity-project" class="control-label">Project:</label>
        <div class="controls">
          <select id="activity-project" class="activity-project input-full">
          </select>
        </div>
      </div>
      <div class="control-group">
        <label for="activity-service" class="control-label">Service:</label>
        <div class="controls">
          <select id="activity-service" class="activity-service input-full">
          </select>
        </div>
      </div>      
    </fieldset>
    <fieldset id="tab-prices" class="tab-pane">
      <div class="control-group">
        <label for="activity-rate" class="control-label">Rate:</label>
        <div class="controls">
          <input id="activity-rate" class="activity-rate input-full" type="number" value="" >
        </div>
      </div>
      <div class="control-group">
        <label for="activity-rateReference" class="control-label">Rate reference:</label>
        <div class="controls">
          <input id="activity-rateReference" class="activity-rateReference input-full" type="text" value="" >
        </div>
      </div>
    </fieldset>
    <fieldset id="tab-timeslices" class="tab-pane">
      <div class="pull-right">
        <a href="#timeslice/add" class="btn btn-primary btn-small">Add timeslice</a>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Duration</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="timeslices">
          <tr>
            <td class="loading" colspan="4"></td>
          </tr>
        </tbody>
      </table>
    </fieldset>
    <div class="form-actions">
      <div class="pull-right">
        <button class="cancel btn">Cancel</button>
        <button type="submit" class="save btn btn-primary">Save</button>
      </div>
    </div>
  </form>
</div>

<script type="text/template" id="tpl-timeslice-item">
  <td><%- model.formatDuration() %></td>
  <td><%- data.startedAt %></td>
  <td><%- data.stoppedAt %></td>
  <td>
    <a class="edit" href="#timeslice/<%- data.id %>/edit"><i class="icon-pencil"></i> Edit</a>
    <a class="delete" href="#delete"><i class="icon-remove"></i> Delete</a>
  </td>
</script>