{% extends "DimeTimetrackerFrontendBundle::layout.html.twig" %}

{% block header %}
  <div class="pull-right">
    <button class="activity-new btn btn-primary">Add activity</button>
  </div>
  <h1>Activities</h1>
{% endblock %}

{% block content %}
<div id="activities" class="loading striped"></div>

<script type="text/template" id="tpl-activity-item">
<div class="pull-right">
  <% if (model.runningTimeslice()) { %>
  <button data-activity="<%- model.get('id') %>" class="track stop btn btn-danger">Stop</button>
  <% } else { %>
  <button data-activity="<%- model.get('id') %>" class="track start btn btn-success">Continue</button>
  <% } %>
  <button class="edit btn">Edit</button>
  <button class="delete btn btn-danger">Delete</button>
</div>
<h3>
  <span class="duration" data-duration="<%- data.duration %>"><%- model.formatDuration(data.duration) %></span>
  <em><%- (model.relation('customer')) ? '@' + model.relation('customer').get('alias') : '' %>
      <%- (model.relation('project')) ? '/' + model.relation('project').get('name') : '' %>
  </em>
</h3>
<% if (data.description) { %><p><%- data.description %></p><% } %>
</script>

{% include 'DimeTimetrackerFrontendBundle:Activities:activityForm.html.twig' %}
{% include 'DimeTimetrackerFrontendBundle:Activities:timesliceForm.html.twig' %}

{% endblock %}

{% block js %}
<script type="text/javascript">
  (function ($, App) {
    var activities = new App.Collection.Activities();
    var activityForm = new App.Views.Activity.Form({el: '#activity-form', collection: activities});
    new App.Views.Activity.List({collection: activities, itemTagName: "section", form: activityForm}).render();
    activities.fetch();

    $('.activity-new').on('click', function(e) {
      e.preventDefault();
      activityForm.model = new App.Model.Activity();
      activityForm.render();
    });
  })(jQuery, Dime);
</script>
{% endblock %}
