{# Dime/TimetrackerFrontednBundle/Resources/views/Dashboard/index.html.twig #}
<header>
  <div class="pull-right">
      <a href="#activity/add" class="btn btn-large" title="Add activity"><i class="icon-plus"></i></a>
      <button id="filter-button" class="btn btn-large"><i class="icon-filter"></i></button>
  </div>
  <h1 class="title">Activity</h1>


  <ul id="filter" class="nav nav-list hide">
    <li class="nav-header">Filter</li>
    <li><i class="icon-calendar hide-text">Date</i><input class="filter input-medium" data-toggle="datepicker" value="2012-06-15" data-date-format="yyyy-mm-dd"></li>
    <li><i class="icon-user hide-text">Date</i><select class="filter filter-customer input-medium" title="by customer"><option>by customer</option></select></li>
  </ul>
</header>

<div id="activities" class="loading"></div>

<script type="text/template" id="tpl-activity-item">
  <h3 class="title">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
      <% if (model.runningTimeslice()) { %>
        <button class="track stop btn btn-danger"><i class="icon-time icon-white"></i></button>
      <% } else { %>
        <button class="track start btn btn-success"><i class="icon-time icon-white"></i></button>
      <% } %>
      <span data-duration="<%- data.duration %>" class="duration btn disabled"><%- model.formatDuration(data.duration) %></span>
      </div>
    </div>
    <%- model.shortDescription(50) %>
    <% if (model.relation('customer')) { %>
    <span class="customer">@<%- model.relation('customer', 'alias') %></span>
    <% } %>
    <% if (model.relation('project')) {  %>
    <span class="project">/<%- model.relation('project', 'alias') %></span>
    <% } %>
  </h3>
  <div class="details">
    <% if (data.description) { %>
    <pre><%- data.description %></pre>
    <% } %>
    <div class="pull-right">
      <a class="edit" href="#activity/<%- data.id %>/timeslice/add"><i class="icon-plus"></i> Timeslice</a>
      <a class="edit" href="#activity/<%- data.id %>/edit"><i class="icon-pencil"></i> Edit</a>
      <a class="delete" href="#activity/<%- data.id %>/delete"><i class="icon-remove"></i> Delete</a>
    </div>
    <p>
    <% if (model.relation('customer')) { %>
    <a href="#customer/<%- model.relation('customer', 'id') %>/edit" title="@<%- model.relation('customer', 'alias') %>"><%- model.relation('customer', 'name') %></a>
    <% } %>
    <% if (model.relation('project')) { %>
    /<a href="#project/<%- model.relation('project', 'id') %>/edit" title="@<%- model.relation('project', 'alias') %>"><%- model.relation('project', 'name') %></a>
    <% } %>
    <% if (model.relation('service')) { %>
    :<a href="#service/<%- model.relation('service', 'id') %>/edit"  title="@<%- model.relation('service', 'alias') %>"><%- model.relation('service', 'name') %></a>
    <% } %>
    </p>
  </div>
</script>
