{# Dime/TimetrackerFrontednBundle/Resources/views/Dashboard/index.html.twig #}
<div class="pull-right">
  <a href="#activity/add" class="btn btn-primary btn-small">Add activity</a>
</div>
<h1 class="title">Activity</h1>


<div id="activities" class="loading"></div>

<script type="text/template" id="tpl-activity-item">
  <h3 class="title">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <% if (model.runningTimeslice()) { %>
        <button class="track stop btn btn-danger"><i class="icon-time icon-white"></i></button>
        <% } else { %>
        <button class="track start btn btn-success"><i class="icon-time icon-white"></i></button>
        <% } %>
        <button data-duration="<%- data.duration %>" class="duration btn disabled" disabled><%- model.formatDuration(data.duration) %></button>
      </div>
    </div>
    <%- data.description %>
  </h3>
  <div class="details">
    <div class="pull-right">
      <a class="edit" href="#activity/<%- data.id %>/edit"><i class="icon-pencil"></i> Edit</a>
      <a class="delete" href="#activity/<%- data.id %>/delete"><i class="icon-remove"></i> Delete</a>
    </div>
    <p>
    <% var customerName  = model.relation('customer', 'name', ''); %>
    <% var customerAlias = model.relation('customer', 'alias', ''); %>
    <% if (customerAlias.length > 0 && customerName.length > 0) { %>
    <a href="#" class="client-project" title="@<%- customerAlias %>"><%- customerName %></a>
    <% } %>
    <% if (model.relation('project')) { %>
    / <a href="#"><%- model.relation('project', 'name') %></a>
    <% } %>
    <% if (model.relation('service')) { %>
    : <a href="#"><%- model.relation('service', 'name') %></a>
    <% } %>
    </p>
  </div>
</script>