{# Dime/TimetrackerFrontednBundle/Resources/views/Dashboard/index.html.twig #}

<header class="page-header">
    <div class="pull-right">
        <button class="filter-date btn btn-large" data-toggle="datepicker" data-date="{{ 'now'|date('Y-m-d') }}"
                data-date-format="YYYY-MM-DD" data-date-with-period="true" data-date-period="W" data-date-weekstart="1"
                data-date-autoclose="true"><i class="icon-calendar"></i> <span class="filter-date-text" class="hidden-phone">{{ 'now'|date('Y-m-d') }}</span></button>
        <button id="filter-button" class="btn btn-large" title="Show filter"><i class="icon-filter hide-text">Show filter</i></button>
        <a href="#activity/add" class="btn btn-large" title="Add activity"><i class="icon-plus"></i></a>
    </div>
    <h1>Activity</h1>
</header>

<ul id="filter" class="nav nav-list hide">
    <li class="nav-header">Filter</li>
    <li>
        <i class="icon-user hide-text">Customer</i>
        <select id="filter-customer" class="filter filter-customer input-medium" title="by customer">
            <option>by customer</option>
        </select>
    </li>
    <li>
        <i class="icon-folder-open hide-text">Project</i>
        <select id="filter-project" class="filter filter-project input-medium" title="by project">
            <option>by project</option>
        </select>
    </li>
    <li>
        <i class="icon-wrench hide-text">Service</i>
        <select id="filter-service" class="filter filter-service input-medium" title="by service">
            <option>by service</option>
        </select>
    </li>
    <li>
        <i class="icon-star hide-text">with Tag</i>
        <select id="filter-with-tags" class="filter filter-tags filter-with-tags input-medium" title="with tags">
            <option>with tag</option>
        </select>
    </li>
    <li>
        <i class="icon-star-empty hide-text">without Tag</i>
        <select id="filter-without-tags" class="filter filter-tags filter-without-tags input-medium" title="without tags">
            <option>without tag</option>
        </select>
    </li>
    <li>
        <i class="icon-search hide-text">Search</i>
        <input id="filter-search" class="filter filter-search input-medium" title="Search" placeholder="Search...">
    </li>
    <li>
        <button id="filter-reset" class="btn">Reset</button>
    </li>
</ul>

<h2>Active</h2>
<div id="activities-active" class="loading"></div>
<br />
<h2>Last activities for <span class="filter-date-text"></span></h2>
<div id="activities" class="loading"></div>
<div class="pagination t-center"></div>

<script type="text/template" id="tpl-activity-empty">
    <div class="alert alert-info"><strong>Your list is empty!</strong> Hey, nothing to do for today?</div>
</script>

<script type="text/template" id="tpl-activity-item">
    <h3 class="title">
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <% if (model.runningTimeslice()) { %>
                <button class="track stop btn btn-danger"><i class="icon-time icon-white"></i></button>
                <% } else { %>
                <button class="track start btn btn-success"><i class="icon-time icon-white"></i></button>
                <% } %>
                <span data-duration="<%- data.duration %>" class="duration btn disabled"><%- model.formatDuration(data.duration) %></span>
            </div>
        </div>
        <%- model.shortDescription(50) %>
        <% if (model.relation('customer')) { %>
        <span class="alias">@<%- model.relation('customer', 'alias') %></span>
        <% } %>
        <% if (model.relation('project')) { %>
        <span class="alias">/<%- model.relation('project', 'alias') %></span>
        <% } %>
        <% if (data.tags) { _.each(data.tags, function (tag) { %>
            <span class="tag">#<%- tag.name %></span>
        <% })} %>
    </h3>
    <div class="details">
        <% if (data.description) { %>
        <pre><%- data.description %></pre>
        <% } %>
        <div class="pull-right">
            <a class="edit" href="#activity/<%- data.id %>/timeslice/add"><i class="icon-plus"></i> Timeslice</a>
            <a class="edit" href="#activity/<%- data.id %>/edit"><i class="icon-pencil"></i> Edit</a>
            <a class="delete" href="#activity/<%- data.id %>/delete"><i class="icon-remove"></i> Delete</a>
        </div>
        <p>
            <% if (model.relation('customer')) { %>
            <a href="#customer/<%- model.relation('customer', 'id') %>/edit"
               title="@<%- model.relation('customer', 'alias') %>"><%- model.relation('customer', 'name') %></a>
            <% } %>
            <% if (model.relation('project')) { %>
            /<a href="#project/<%- model.relation('project', 'id') %>/edit"
                title="@<%- model.relation('project', 'alias') %>"><%- model.relation('project', 'name') %></a>
            <% } %>
            <% if (model.relation('service')) { %>
            :<a href="#service/<%- model.relation('service', 'id') %>/edit"
                title="@<%- model.relation('service', 'alias') %>"><%- model.relation('service', 'name') %></a>
            <% } %>
            &nbsp;
        </p>
    </div>
</script>
