{# Dime/TimetrackerFrontednBundle/Resources/views/Dashboard/index.html.twig #}

<header class="page-header">
    <div class="pull-right">
        <button class="filter-date btn btn-large" data-toggle="datepicker" data-date="{{ 'now'|date('Y-m-d') }}"
                data-date-format="YYYY-MM-DD" data-date-with-period="true" data-date-period="W" data-date-weekstart="1"
                data-date-autoclose="true"><i class="icon-calendar"></i> <span class="filter-date-text" class="hidden-phone">{{ 'now'|date('Y-m-d') }}</span></button>
        <button id="filter-button" class="btn btn-large" title="{% trans %}Show filter{% endtrans %}"><i class="icon-filter hide-text">{% trans %}Show filter{% endtrans %}</i></button>
        <a href="#activity/add" class="btn btn-large" title="{% trans %}Add activity{% endtrans %}"><i class="icon-plus"></i></a>
    </div>
    <h1>{% trans %}Activity{% endtrans %}</h1>
</header>

<ul id="filter" class="nav nav-list hide">
    <li class="nav-header">{% trans %}Filter{% endtrans %}</li>
    <li>
        <i class="icon-user hide-text">{% trans %}Customer{% endtrans %}</i>
        <select id="filter-customer" class="filter filter-customer input-medium" title="{% trans %}by customer{% endtrans %}">
            <option>{% trans %}by customer{% endtrans %}</option>
        </select>
    </li>
    <li>
        <i class="icon-folder-open hide-text">{% trans %}Project{% endtrans %}</i>
        <select id="filter-project" class="filter filter-project input-medium" title="{% trans %}by project{% endtrans %}">
            <option>{% trans %}by project{% endtrans %}</option>
        </select>
    </li>
    <li>
        <i class="icon-wrench hide-text">{% trans %}Service{% endtrans %}</i>
        <select id="filter-service" class="filter filter-service input-medium" title="{% trans %}by service{% endtrans %}">
            <option>{% trans %}by service{% endtrans %}</option>
        </select>
    </li>
    <li>
        <i class="icon-star hide-text">{% trans %}with Tag{% endtrans %}</i>
        <select id="filter-with-tags" class="filter filter-tags filter-with-tags input-medium" title="{% trans %}with tags{% endtrans %}">
            <option>{% trans %}with tag{% endtrans %}</option>
        </select>
    </li>
    <li>
        <i class="icon-star-empty hide-text">{% trans %}without Tag{% endtrans %}</i>
        <select id="filter-without-tags" class="filter filter-tags filter-without-tags input-medium" title="{% trans %}without tags{% endtrans %}">
            <option>{% trans %}without tag{% endtrans %}</option>
        </select>
    </li>
    <li>
        <i class="icon-search hide-text">{% trans %}Search{% endtrans %}</i>
        <input id="filter-search" class="filter filter-search input-medium" title="{% trans %}Search{% endtrans %}" placeholder="{% trans %}Search...{% endtrans %}">
    </li>
    <li>
        <button id="filter-reset" class="btn">{% trans %}Reset{% endtrans %}</button>
    </li>
</ul>

<h2>{% trans %}Active{% endtrans %}</h2>
<div id="activities-active" class="loading"></div>
<br />
<h2>{% trans %}Last activities for{% endtrans %} <span class="filter-date-text"></span></h2>
<div id="activities" class="loading"></div>
<div class="pagination t-center"></div>

<script type="text/template" id="tpl-activity-empty">
    <div class="alert alert-info"><strong>{% trans %}Your list is empty!{% endtrans %}</strong> {% trans %}Hey, nothing to do for today?{% endtrans %}</div>
</script>

<script type="text/template" id="tpl-activity-item">
    <h3 class="title">
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <% if (model.runningTimeslice()) { %>
                <button class="track stop btn btn-danger" title="{% trans %}Click to stop progress{% endtrans %}"><i class="icon-time icon-white"></i></button>
                <a class="edit btn" href="#timeslice/<%- model.runningTimeslice().id %>/edit" title="{% trans %}Edit{% endtrans %}"><i class="icon-pencil"></i></a>
                <% } else { %>
                <button class="track start btn btn-success" title="{% trans %}Click to start progress{% endtrans %}"><i class="icon-time icon-white"></i></button>
                <a class="edit btn" href="#activity/<%- data.id %>/timeslice/add" title="{% trans %}Add timeslice{% endtrans %}"><i class="icon-plus"></i></a>
                <% } %>
                <span data-duration="<%- data.duration %>" class="duration btn disabled"><%- model.formatDuration(data.duration) %></span>
            </div>
        </div>
        <%- model.shortDescription(50) %>
        <% if (model.relation('customer')) { %>
        <span class="alias">@<%- model.relation('customer', 'alias') %></span>
        <% } %>
        <% if (model.relation('project')) { %>
        <span class="alias">/<%- model.relation('project', 'alias') %></span>
        <% } %>
        <% if (data.tags) { _.each(data.tags, function (tag) { %>
            <span class="tag">#<%- tag.name %></span>
        <% })} %>
    </h3>
    <div class="details">
        <% if (data.description) { %>
        <pre><%- data.description %></pre>
        <% } %>
        <div class="pull-right">
            <a class="edit" href="#activity/<%- data.id %>/edit"><i class="icon-pencil"></i> {% trans %}Edit{% endtrans %}</a>
            <a class="delete" href="#activity/<%- data.id %>/delete"><i class="icon-remove"></i> {% trans %}Delete{% endtrans %}</a>
        </div>
        <p>
            <% if (model.relation('customer')) { %>
            <a href="#customer/<%- model.relation('customer', 'id') %>/edit"
               title="@<%- model.relation('customer', 'alias') %>"><%- model.relation('customer', 'name') %></a>
            <% } %>
            <% if (model.relation('project')) { %>
            /<a href="#project/<%- model.relation('project', 'id') %>/edit"
                title="@<%- model.relation('project', 'alias') %>"><%- model.relation('project', 'name') %></a>
            <% } %>
            <% if (model.relation('service')) { %>
            :<a href="#service/<%- model.relation('service', 'id') %>/edit"
                title="@<%- model.relation('service', 'alias') %>"><%- model.relation('service', 'name') %></a>
            <% } %>
            &nbsp;
        </p>
    </div>
</script>
